.head{
    background-color: royalblue;
    width: 500px; 
    height: 500px;
    position:absolute;
    top: 50px;
    left: 50px;
    text-align: center;
    font-size: 100px;
}
.eye{
    background-color: red;
    width: 150px; 
    height: 150px;
    position: absolute;
    top: 50px;
}
.eye--left{
    left: 50px;
}
.eye--right{
    left: 300px;
}
.pupil{
    background-color: white;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 23px;
}
.pupil--left{
    left: 95px;
}
.pupil--right{
    right: 20px;
}
.iris{
    background-color: black; 
    width: 15px; 
    height: 15px;
    position:absolute;
    top: 26px;
}
.iris--left{
    left: 112px;
}
.iris--right{
    right: 23px;
}
.mouth{
    background-color: purple; 
    width: 150px; 
    height: 150px;
    position:absolute;
    top: 300px;
    left: 180px;
}
.tongue1{
    background-color: red; 
    width: 150px; 
    height: 75px;
    position:absolute;
    top: 340px;
    left: 255px;
}
.tongue2{
    background-color: red; 
    width: 75px; 
    height: 75px;
    position:absolute;
    top: 326px;
    left: 360px;
}
