.head{
    background-color: royalblue;
    width: 500px; 
    height: 500px;
    position:absolute;
    top: 50px;
    left: 50px;
    text-align: center;
    font-size: 100px;
    animation: moveHead 6s infinite ease-in-out; 
    animation-direction: alternate; 
}
.eye{
    background-color: red;
    width: 150px; 
    height: 150px;
    position: absolute;
    top: 50px;
}
.eye--left{
    left: 50px;
}
.eye--right{
    left: 300px;
}
.pupil{
    background-color: white;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 23px;
}
.pupil--left{
    left: 95px;
}
.pupil--right{
    right: 20px;
}
.iris{
    background-color: black; 
    width: 15px; 
    height: 15px;
    position:absolute;
    top: 26px;
}
.iris--left{
    left: 112px;
}
.iris--right{
    right: 23px;
}
.mouth{
    background-color: purple; 
    width: 150px; 
    height: 150px;
    position:absolute;
    top: 300px;
    left: 180px;
}
.tongue{
    background-color: red; 
    width: 130px; 
    height: 45px;
    position:absolute;
    top: 51px;
    left: 95px;
    animation: moveTongue 1s infinite ; 
    /* animation-direction: alternate;   */

}
.tongue1{
    background-color: red; 
    width: 45px; 
    height: 45px;
    position:absolute;
    top: 51px;
    left: 70px;
    animation: moveTongue1 1s infinite ; 
    /* animation-direction: alternate;   */
}
.tongue2{
    background-color: red; 
    width: 27px; 
    height: 48px;
    position:absolute;
    top: 51px;
    left: 96px;
    animation: moveTongue2 1s infinite ;  
    /* animation-direction: alternate;   */
}


@keyframes moveHead{
    0%{
        transform: translate3d(0,0,0);
    }
    12.5%{
        transform: translate3d(900px,350px,0em);
    }
    37.5%{ 
        transform: translate3d(900px,0px,0em);
    }
    25%{
        transform: translate3d(0px,350px,1em);
    }
    50%{ 
        transform: translate3d(0px,0px,0em) scaleX(-1);
    }
    78%{
        transform: translate3d(-800px,-100px,0) scaleX(-1);
        background-color: yellow;
    }
  
    /* Cambiar de extremos 87.5 y 88.5% para que no se note el cambio brusco */
    78.02%{
        transform: translate3d(40000px,-5000px,0em) scaleX(-1);
        
    }
    78.03%{
        transform: translate3d(1500px,0px,0em) scaleX(-1);
    }
    
    100%{
        transform: translate3d(-800px,0px,0px) scaleX(-1);
        background-color: green;    
    }

}

@keyframes moveTongue{
    0%{
        transform: translate3d(0px,-10px,0px) ;
    }
    50%{
        transform: translate3d(5px,-10px,0px) ;
    }
    100%{
        transform: translate3d(0px,10px,0px) ;
    }
}
@keyframes moveTongue1{
    0%{
        transform: translate3d(0px,10px,0px) ;
    }
    100%{
        transform: translate3d(0px,-10px,0px) ;
    }
}
@keyframes moveTongue2{
    0%{
        transform: translate3d(-5px,0px,-2px) ;
    }
    100%{
        transform: translate3d(5px,0px,2px) ;
    }
}